<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Api</h5>
          <p>
            <strong>ID</strong>: {{api.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{api.text}}</p>
          <p>
            <strong>Description:</strong> {{api.description}}</p>
          <p>
            <strong>Website URL:</strong> <a href = "{{api.WebsiteURL}}">Visit Me</a></p>
          <p>
            <strong>Authentication:</strong> {{api.Authentication}}</p>
          <p>
            <strong>Over All Ratings :</strong> {{api.OverallRating}}</p>
          <p>
            <strong>Ratings for Documentation :</strong> {{api.Documentation}}</p>
          <p>
            <strong>Ratings for Ease of Use:</strong> {{api.Easy}}</p>
           
           <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
